{% extends 'base.html.twig' %}

{% block title %}ConteinerMovimentacoes{% endblock %}

{% block body %}
    <h1>ConteinerMovimentacoes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conteiner_movimentaco.id }}</td>
            </tr>
            <tr>
                <th>Movement_type</th>
                <td>{{ conteiner_movimentaco.movementType }}</td>
            </tr>
            <tr>
                <th>Dt_inicio</th>
                <td>{{ conteiner_movimentaco.dtInicio ? conteiner_movimentaco.dtInicio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dt_fim</th>
                <td>{{ conteiner_movimentaco.dtFim ? conteiner_movimentaco.dtFim|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('conteiner_movimentacoes_index') }}">back to list</a>

    <a href="{{ path('conteiner_movimentacoes_edit', {'id': conteiner_movimentaco.id}) }}">edit</a>

    {{ include('conteiner_movimentacoes/_delete_form.html.twig') }}
{% endblock %}
